@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


nav {
    width: 100%;
    height: 100px;
    background-image: url('./assets/glacier2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__container {
    width: 100%;
}

.nav__row {
    width: auto;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    
}

.nav__logo--wrapper {
    display: flex;
    transform: translateX(-30px);
}

.nav--logo {
    width: 50px;
}

.logo__link:hover {
    transition: all 500ms ease;
}

.nav__link--list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 32px;
}

.list__item {
    list-style-type: none;
}

.list__item:hover {
    transform: scale(1.2);
    transition: all 500ms ease;
}

.item__link {
    font-family: "MedievalSharp", cursive;
    color: darkred;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 32px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 36px;    
}

.item__link:hover {
    text-decoration: underline overline;
    transition: all 500ms ease;
    color: rgb(164, 223, 243);
    background-color: darkred;
}

.nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.click {
    transition: all 500ms ease;
}

.click:hover {
    transform: scale(1.2);
}

.click:active {
    transform: scale(0.8);
}

.savage {
    font-size: 48px;
    color: darkred;
}

/* 

Header

*/

.header__img--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header__title{
    font-family: "MedievalSharp", cursive;
    color: lightblue;
    text-align: center;
    background: linear-gradient(to bottom, rgb(164, 223, 243), darkred);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.header__outro {
    text-align: center;
    color: white;
    font-family: "MedievalSharp", cursive;
}

.header__smoltoon {
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin: 16px;
}

.header__img {
    position: relative;
    animation: coin-rotate 5000ms both infinite;
    transition: all infinite ease;
}

.header__img:hover {
    animation: coin-rotate 1500ms;
}

@keyframes coin-rotate {
    0% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

.header--heart {
    width: 360px;
    position: absolute;
    left: -100%;
}

.header--lyethar {
    width: 200px;
    position: absolute;
    left: -5%;
}

.header--modac {
    width: 200px;
    position: absolute;
    left: -20%;
    bottom: -70%;
}

.header--funquisto {
    width: 200px;
    position: absolute;
    left: -25%;
    bottom: -90%;
}

.header--harry {
    width: 200px;
    position: absolute;
    
}

.dice__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "MedievalSharp", cursive;
    color: white;
    font-size: 18px;
}

.init__btn {
    width: 125px;
    border: none;
    background-color: transparent;
}

.init__btn:active {
    animation: roll-animation 2000ms ease;
}

@keyframes roll-animation {
    0% {rotate: 90deg;}
    25% {rotate: 135deg;}
    50% {rotate: 180deg;}
    75% {rotate: 270deg;}
    100% {rotate: 335deg;}
}

.dice__img {
    width: calc( 100%);
}

.dice {
    font-size: 96px;
}

/**

Main

**/

#landing {
    background-image: url('./assets/night-blizzard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(36, 35, 35);
    width: 100%;
    position: relative;
}


.landing__container {
    margin: 0px 24px;
}

.landing__row {
    width: 100%;
    padding: 12px 0px;
}

.toon__tile--container {
    width: 100%;
}

.toon__tile--wrapper {
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.toon__tile {
    width: 300px;
    margin: 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 225px;
    border: 2px solid rgb(86, 173, 228);
    border-radius: 16px;
    background-color: lightcyan;

}

.toon__bottlecap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px;
}

.toon__img {
    min-height: 50px;
    max-height: 100px;
    padding: 24px;
    overflow: visible;
}

.toon__link {
    cursor: default;
}

.toon__modal--btn {
    background-color: transparent;
    border: none;
}

.toon__modal--btn:hover {
    color: rgb(164, 223, 243);
    cursor: pointer;
}

.toon__moniker {
    width: 100%;
    color: darkred;
    font-size: 24px;
    text-align: center;
    font-family: "MedievalSharp", cursive;
}

.pages__link--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
    margin-top: 78px;
}

.pages__plug {
    font-family: "MedievalSharp", cursive;
    text-align: center;
    font-size: 32px;
    color: white; 
}

.btn__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.journal__btn,
.party__btn {
    font-family: "MedievalSharp", cursive;
    padding: 12px 24px;
    border-radius: 36px;
    font-size: 24px;
    margin: 8px 16px;
    width: 225px;
}

.pepperbox {
    width: 60%;
}

/* Character Animations */

.claw:hover {
    animation: claw-animation 1000ms;
}

@keyframes claw-animation {
    0% {transform: scale(0.8);}
    15% {rotate: 35deg; transform: scale(2.0); border-radius: 9999px; border-top: 8px solid red;}
    30% {}
    45% {rotate: -35deg; transform: scale(1.0); }
    60% {}
    75% {rotate: -55deg; transform: scale(4.0); border-radius: 9999px; border-bottom: 8px solid red;}
    90% {}
    100%{transform: scale(0.8);}
}

.sword:hover {
    animation: sword-animation 2000ms ;
}

@keyframes sword-animation {
    0% {rotate: 0deg;}
    15% {rotate: -180deg; transform: scale(1.8); border-radius: 9999px; border-left: 4px solid red;}
    30% {rotate: 135deg; transform: scale(1.2);}
    45% {rotate: -180deg; transform: scale(1.0);}
    60% {rotate: 270deg; transform: scale(1.8); border-radius: 9999px; border-left: 8px solid red;}
    75% {rotate: 0deg; transform: scale(1.2);}
    90% {rotate: 180deg; transform: scale(4.0); border-radius: 9999px; border-left: 8px solid red;}
    100% {}
}

.hammer:hover {
    animation: hammer-animation 1500ms;
}

@keyframes hammer-animation {
    0% {transform: scale(1.2); border-radius: 9999px;}
    20% {rotate: -45deg; transform: scale(1.4); border-radius: 9999px; border-left: 4px solid purple;}
    30% {rotate: 40deg; transform: scale(1.2); border-left: white;}
    40% {rotate: -45deg; transform: scale(2.0); border-radius: 9999px; border-left: 6px solid purple;}
    50% {rotate: 40deg; transform: scale(1.2); border-left: white;}
    60% {rotate: -45deg; transform: scale(2.5); border-radius: 9999px; border-left: 6px solid purple;}
    70% {rotate: 40deg; transform: scale(1.2); border-left: white;}
    80% {rotate: -45deg; transform: scale(3.0); border-radius: 9999px; border-left: 8px solid red}
}

.pepperbox:hover {
   animation: pepperbox-animation 1500ms;
}

@keyframes pepperbox-animation {
    0% {transform: scale(1.6); rotate: -15deg; border-radius: 9999px; border-right: 8px solid yellow;}
    20% {transform: translateX(-10%); border-right: none;}
    30% {rotate: 0deg; transform: translateX(0%);}
    40% {transform: scale(2.0); rotate: -15deg; border-radius: 9999px; border-right: 8px solid orange;}
    50% {transform: translateX(-10%);  border-right: none;}
    60% {rotate: 0deg; transform: translateX(0%);}
    70% {transform: scale(2.5); rotate: -15deg; border-radius: 9999px; border-right: 8px solid red;}
    80% {transform: translateX(-10%);  border-right: none;}
    90% {rotate: 0deg; transform: translateX(0%);}
    100% {rotate: -345deg;}
}

/* Character Modal */

.modal {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    height: 75%;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    z-index: -2;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
    visibility: visible;
    box-shadow: 0 20 80 0 rgba(0, 0, 0, .55);
    z-index: 60;
    position: fixed;
}

.modal--open .modal__about,
.modal--open .modal__img {
    transform: translateX(0%);
}

.modal__half {
    width: 50%;
    transition: all 300ms ease-in-out;
}

.modal__info {
    background-color: lightslategray;
}

.modal__img {
    overflow: hidden;
    transform: translateX(110%);
}

.modal__about {
    background-color: lightgrey;
    position: relative;
    transform: translateX(-110%);
}

.character__info {
    padding: 8px;
    align-items: center;
    text-align: center;
}

.character__name {
    font-family: "MedievalSharp", cursive;
    text-align: center;
    font-size: 56px;
    margin-bottom: 6px;
    margin-top: 12px;
    background: radial-gradient(circle, rgb(13, 51, 138), rgb(86, 173, 228));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.known__as {
    margin: 0 auto;
    font-family: "MedievalSharp", cursive;
}

.character__race {
    margin: 8px;
    font-family: "MedievalSharp", cursive;
}

.character__class {
    margin: 8px;
    font-family: "MedievalSharp", cursive;
}

.character__para {
    line-height: 2.0;
    font-style: italic;
}

.about--btn {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-family: "MedievalSharp", cursive;
    background-color: transparent;
    border: none;
    font-size: 32px;
    font-weight: 700;
    color: darkred;
}

.character__img {
    height: 100%;
    transform: translate3d(-200px, -20px, 0);
}

/*

Login Modal

*/

.login__modal {
    position: absolute;
    /* background-image: url('./assets/cave_of_wonders__by_darkbrushbrony.jpg'); */
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1100px;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    z-index: -2;
    visibility: hidden;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.login__modal--open .login__modal {
    visibility: visible;
    box-shadow: 0 20 80 0 rgba(0, 0, 0, .55);
    z-index: 100;
    position: fixed;
}

.login__container {
    margin: 8px;
    width: 100%;
    height: 100%;
}

.login__row {
    position: relative;
    width: 100%;
    font-size: 30px;
    color: white;
    font-family: "MedievalSharp", cursive;
}

.login__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    border-radius: 4px;
    border: 1px solid gold;
    background-color: transparent;
}

input[type=email]:focus,
input[type=password]:focus {
    background-color: rgba(255, 215, 0, 0.50);
}

.form--email,
.form--password,
.form--submit {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;   
}

.login__check {
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.toggle--login {
    background: transparent;
    margin-left: 12px;
    border-radius: 36px;
}

.error__message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }

.submit__btn {
    margin-top: 8px;
    margin-bottom: 24px;
    width: 100%;
    color: gold;
    font-family: "MedievalSharp", cursive;
    font-size: 24px;
    background-color: transparent;
}

.exit--btn {
    position: absolute;
    right: 25px;
    top: 15px;
    background-color: transparent;
    font-family: "MedievalSharp", cursive;
    color: gold;
    border: none;
    font-size: 42px;
    font-weight: 900;
    z-index: 101;
}

/* 

Party Page 

*/

.party__landing {
    background-color: rgb(143, 152, 157);
    margin: none;
    color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "MedievalSharp", cursive;
}

.member__plaque {
    margin: 12px 12px;
    max-width: 640px;
    max-height: 60vh;
}

.member__container {
    width: 100%;
    border-radius: 36px;
    overflow: hidden;
    border: 1px solid darkred;
}

.member__row {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.member__text--half {
    width: 65%;
    background-color: black;
    text-align: right;
}

.member__img--half {
    width: 35%;
}

.member__text--container {
    width: 100%;
    margin: 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    
}

.member__blurb,
.member__name,
.member__alias,
.member__race,
.member__class,
.fav__weapon {
    margin: 16px;
}

.member__name {
    font-size: 36px;
    background: radial-gradient(circle, rgb(13, 51, 138), rgb(86, 173, 228));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    flex: wrap;
    justify-content: end;
}

.member__blurb {
    width: 80%;
    margin-left: 60px;
    margin-right: 0px;
    background: radial-gradient(circle, rgb(251, 246, 188), rgb(248, 204, 7));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.member__img--wrapper {
    width: 100%;
    height: 100%;
    margin: 0%;
    transform: translateY(15%);
}

.member--img {
    width: 100%;
    transform: scale(1.4);
    max-width: 250px;
    max-height: 650px;
    object-fit: fill;
}



/* 

Journal 

*/

#Journal {
    background-color: bisque;
    padding-top: 12px;
    padding-bottom: 12px;
}

.journal__title {
    font-family: "MedievalSharp", cursive;
    color: darkgreen;
    font-size: 40px;
    text-align: center;
}

.journal__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.journal__row {
    padding-left: 12px;
    padding-right: 12px;
}

.entry__container {
    width: 100%;
    height: 120vh;
    max-width: 560px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.location__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.image__wrapper {
    display: flex;
    justify-content: center;
    height: 40%;
}

.wrapper {
    margin: 2px 2px;
    border: 3px solid rgb(150, 52, 10);
    overflow: hidden;
    max-width: 380px;
    max-height: 350px;
    border-radius: 12px;
}

.journal--img {
    width: 100%;
    transform: scale(1.1);
    object-fit: contain;
}

.entry__text--background{
    width: 100%; 
    height: 100%; 
    position: relative; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

.stretch {
    width:100%;
    height:100%;
}

.entry__text {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 88px 54px 64px 54px;
    text-align: center;
    color: rgb(150, 52, 10);
    font-family: "Playwrite AU TAS", cursive;
}

.entry--title {
    text-align:  center;
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 0px;
}

.entry--subtitle {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
    margin-bottom: 2px;
}

.entry--para {
    font-size: 12px;
    margin-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
}

/**

Footer

**/

footer {
    height: 100px;
    position: relative;
    background-image: url('./assets/northern-light-tundra.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__container {
    width: auto;
    height: 100%;
    padding: 12px;
}

.footer__row{
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link--list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 24px;
    padding: 0px;

}

.footer--links {
    font-size: 20px;
}

.footer--link {
    color: rgb(90, 131, 74);
}

.footer--link:hover {
    background-color: rgb(90, 131, 74);
    color: rgb(71, 81, 86);
}

.copyright {
    text-align: center;
    color: white;
}

/* responsive changes */

@media (max-width: 678px) {
    /* home page */
    .body {
        width: 100%;
    }
    
    .secondary {
        display: none;
    }

    .header__img--container {
        display: flex;
        flex-wrap: wrap;
    }

    .header__box {
        display: flex;
        flex-direction: column;
    }

    .btn__box {
        display: flex;
        flex-direction: column;
    }

    /* modal */

    .modal {
        display: flex;
        flex-direction: column-reverse;
        width: 75%;
        height: 50%;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .modal__about {
        height: 50%;
        width: 100%;
        align-items: center;
    }
    .modal__img {
        height: 50%;
        width: 100%;
        align-items: center;
    }

    .modal__character--img {
        width: 100%;
        transform: scale(1.5);
        position: absolute;
        top: 50px;
    }

    .character__container,
    .character__avatar {
        height: 100%;
        position: relative;
    }

    .character__name {
        font-size: 24px;
    }

    /* party page */

    #Funquisto, 
    #Lyethar,
    #Heart,
    #Modac,
    #Harry__Baggins {
        height: 100vh;
        padding: 8px;
        margin: 16px;
        width: 100vw;
    }

    .member__plaque {
        margin: 0 auto;
        width: 100%;
    }
    .member__row {
        flex-direction: column-reverse;
        display: flex;
        width: 100%;
    }
    .member__text--half {
        width: 50%;
        height: 80%;
        text-align: center;
    }
    .member__img--half {
        width: 50%;
        overflow: hidden;
        text-align: center;
    }

    .member__img--wrapper {
        height: 100%;
        width: 100%;
    }

    .member--img {
        /* max-height: 400px; */
        width: 100%;
    }
    .member__text--container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
    }
    .member__blurb {
        margin: 16px 16px;
        width: inherit;
    }
}